@import "tailwindcss";
@font-face {
    font-family: estedad-black;
    src: url(../font/Estedad-Black.ttf), url(../font/Estedad-Black.woff2);
}

@font-face {
    font-family: estedad-bold;
    src: url(../font/Estedad-Bold.ttf), url(../font/Estedad-Bold.woff2);
}

@font-face {
    font-family: estedad-exterabold;
    src: url(../font/Estedad-ExtraBold.ttf), url(../font/Estedad-ExtraBold.woff2);
}

@font-face {
    font-family: estedad-exteralight;
    src: url(../font/Estedad-ExtraBold.woff2), url(../font/Estedad-ExtraBold.ttf);
}

@font-face {
    font-family: estedad-light;
    src: url(../font/Estedad-Light.ttf), url(../font/Estedad-Light.woff2);
}

@font-face {
    font-family: estedad-medium;
    src: url(../font/Estedad-Medium.ttf), url(../font/Estedad-Medium.woff2);
}

@font-face {
    font-family: estedad-regular;
    src: url(../font/Estedad-Regular.ttf), url(../font/Estedad-Regular.woff2);
}

@font-face {
    font-family: estedad-semibold;
    src: url(../font/Estedad-SemiBold.ttf), url(../font/Estedad-SemiBold.woff2);
}

@font-face {
    font-family: estedad-thin;
    src: url(../font/Estedad-Thin.ttf), url(../font/Estedad-Thin.woff2);
}

@theme {
    --font-estedad-black: estedad-black;
    --font-estedad-bold: estedad-bold;
    --font-estedad-light: estedad-light;
    --font-estedad-medium: estedad-medium;
    --font-estedad-extrabold: estedad-extrabold;
    --font-estedad-extralight: estedad-extralight;
    --font-estedad-semibold: estedad-semibold;
    --font-estedad-thin: estedad-thin;
    --font-estedad-regular: estedad-regular;
}

@import "./a.css";